

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans",sans-serif;
}

nav	{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid red;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display:inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


footer {
	padding: 0.7rem;

}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*Activity s07*/

#pre-footer {
	background-color: #002540;
/*	margin-top: 2rem;
	margin-bottom: 3rem;*/

}

#pre-footer .box-2 {
	display: inline-block;
	vertical-align: top;
	min-height: 100px;
	width: 20%;
	margin: 2rem 10px 3rem 10px;
/*	margin-left: 10px;
	margin-right: 10px;
*/
}

.box-2 h3, .box-2 p {
	margin-bottom:  5px;
	color: white;
}